<nav class="navbar navbar-expand-lg
            navbar-dark bg-primary
            shadow px-2 px-md-5">

    <a class="navbar-brand 
              d-none d-lg-inline" href="/Будівлі_1">
                ПО "Будівлі": будівлі з прилеглою територією та типи будівель
    </a>
    <a class="navbar-brand 
              d-none d-sm-inline d-lg-none" href="/Будівлі_1">
                ПО "Будівлі": будівлі та їх типи
    </a>
    <a class="navbar-brand d-sm-none" href="/Будівлі_1">ПО "Будівлі"</a>

    <button class="navbar-toggler
                   my-1 border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse
                d-lg-flex flex-lg-row-reverse"
         id="navbarNavAltMarkup">

        <div class="navbar-nav
                    d-flex flex-column flex-lg-row
                    w-lg-100 py-3 py-lg-0 text-center">

            <div class="btn text-light">
                @if (User.Identity.IsAuthenticated)
                {
                    @User.Identity.Name
                }
                else
                {
                    @: Неавторизований
                }
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Вийти", "Logout", "Account", null, new { @class = "btn btn-danger mr-lg-3 w-100 px-lg-3 my-3 my-lg-0" })
            }
            else
            {
                @Html.ActionLink("Увійти", "Login", "Account", null, new { @class = "btn btn-warning mr-lg-3 w-100 px-lg-3 my-3 my-lg-0" })
            }


            <div class="dropdown
                        mr-lg-3">
                <button type="button"
                        class="btn btn-outline-light dropdown-toggle
                               w-100 px-lg-3"
                        data-toggle="dropdown"
                        aria-haspopup="true">
                    Будівлі
                </button>

                <div class="dropdown-menu mt-2
                        position-absolute w-100">
                    <a class="dropdown-item py-2" href="/Будівлі_1">Показати всі</a>
                    <a class="dropdown-item py-2" href="/Відбір_Будівель">Фільтрувати</a>
                    <div class="dropdown-divider mx-3"></div>
                    <a class="dropdown-item py-2" href="/Додати_Будівлю">Додати</a>
                </div>
            </div>

            <div class="dropdown">
                <button type="button"
                        class="btn btn-outline-light dropdown-toggle
                               w-100 px-lg-3 mt-3 mt-lg-0"
                        data-toggle="dropdown"
                        aria-haspopup="true">
                    Типи будівель
                </button>

                <div class="dropdown-menu mt-2
                        position-absolute w-100">
                    <a class="dropdown-item py-2" href="/Типи_Будівель_1">Показати всі</a>
                    <a class="dropdown-item py-2" href="/Відбір_Типів_Будівель">Фільтрувати</a>
                    <div class="dropdown-divider mx-3"></div>
                    <a class="dropdown-item py-2" href="/Додати_Тип_Будівлі">Додати</a>
                </div>
            </div>
        </div>
    </div>
</nav>