@using (Ajax.BeginForm("_SelectData", new AjaxOptions
{
    UpdateTargetId = "data",
    LoadingElementId = "loading",
    LoadingElementDuration = 1000
}))
{
    <input id="index" type="hidden" name="index" value="1" />

    <div class="mt-3">
        <span class="lead pl-1">Адреса</span><br />
        <input type="text" class="form-control w-100 my-1" name="selAddress" />
    </div>
    <div>
        <input type="submit" class="form-control w-100 mt-1 btn-warning" value="Відібрати" />
    </div>
    <div class="mt-3">
        <span class="lead pl-1">Тип будівлі</span><br />
        @Html.DropDownList("selTypeName", ViewBag.selTypeName as SelectList, new { @class = "form-control w-100 my-1" })
    </div>
    <div class="mt-3">
        <span class="lead pl-1 mt-3">Кількість поверхів</span><br />
        <input type="text" class="form-control w-100 my-1" name="floorsNumberFrom" placeholder="від" />
        <input type="text" class="form-control w-100 my-1" name="floorsNumberTo" placeholder="до" />
    </div>
    <div class="mt-3">
        <span class="lead pl-1 mt-3">Площа</span><br />
        <input type="text" class="form-control w-100 my-1" name="areaFrom" placeholder="від" />
        <input type="text" class="form-control w-100 my-1" name="areaTo" placeholder="до" />
    </div>
    <div id="loading" class="load" style="display: none">
        <p>Завантаження даних...</p>
    </div>
}