@model IEnumerable<BuildingsAccounting.Web.Models.BuildingTableModel>

<div class="container pb-4">
    <div class="row d-flex justify-content-start align-items-stretch">
        @foreach (var m in @Model)
        {
            @Html.Partial("_BuildingCard", m)
        }
    </div>
</div>