@model IEnumerable<BuildingsAccounting.Web.Models.BuildingTypeTableModel>
@{
    ViewBag.Title = "Всі типи будівель";
}

<h2 class="mt-4 text-center">Всі типи будівель</h2>

@Html.Partial("_ShowCards", Model)