@using BuildingsAccounting.Web.Models
@using BuildingsAccounting.Web.Helpers
@using BuildingsAccounting.Web.Pagination
@model BuildingsAccounting.Web.Pagination.PagedList<BuildingTypeTableModel>
@*@model IEnumerable<BuildingsAccounting.Web.Models.BuildingTypeTableModel>*@
@{
    ViewBag.Title = "Всі типи будівель";
}

@using (@Html.BeginForm("Browse"))
{
    <input id="index" type="hidden" name="index" value="1" />
}

<h2 class="mt-4 text-center">Всі типи будівель</h2>

@Html.Partial("_ShowCards", Model)